$day-size: 100px;
$main-color: #eee;
$hover-cell-color: #ffbfcb;
$gap-size: 1px;
$calendar-width: $day-size * 7 + $gap-size * 6;
$cell-and-gap-size: $day-size + $gap-size;
$days-of-the-week: (
  'mon': 0,
  'tue': $cell-and-gap-size,
  'wed': $cell-and-gap-size * 2,
  'thu': $cell-and-gap-size * 3,
  'fri': $cell-and-gap-size * 4,
  'sat': $cell-and-gap-size * 5,
  'sun': $cell-and-gap-size * 6,
);
